{% extends "base.html" %}

{% block title %}Tweet list | {{ super.block }}{% endblock title %}

{% block content %}
    {% include "tweets/search_form.html" %} <br/>

    {% for object in object_list %}

        {{ object.timestamp }}<br>
        {{ object.user }}<br>
        {{ object.content }}<br><br><br>
    {% empty %}
        {% if request.GET.q %}
            <p> no tweet found</p>
        {% else %}
            <p>No tweets yet.</p>
        {% endif %}
    {% endfor %}
{% endblock content %}