{% extends "base.html" %}

{% block title %}Tweet list | {{ super.block }}{% endblock title %}

{% block content %}
    {% include "tweets/search_form.html" %} <br/>
    <ul class="list-unstyled">
        {% for object in object_list %}
        <li class="media">
            {% if object.image %}
                <img class="d-flex mr-3" src="..." alt="...">
            {% endif %}
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ object.user }}</h5>
                {{ object.timestamp }}<br>
                {{ object.content }}<br>
                <a href="{{ object.get_absolute_url}}">view</a>
            </div>
        </li>
        <hr/>
    </ul>
    {% empty %}
        {% if request.GET.q %}
            <p> no tweet found</p>
        {% else %}
            <p>No tweets yet.</p>
        {% endif %}
    {% endfor %}
{% endblock content %}